<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>642290517608-0jh0eb08q6a79cqlcboavv2j7mu1hi3i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.642290517608-0jh0eb08q6a79cqlcboavv2j7mu1hi3i</string>
	<key>API_KEY</key>
	<string>AIzaSyAuELb4ChhHoRYa-3OsdCDB6bmzjZIgGLg</string>
	<key>GCM_SENDER_ID</key>
	<string>642290517608</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.project</string>
	<key>PROJECT_ID</key>
	<string>crud-5a54f</string>
	<key>STORAGE_BUCKET</key>
	<string>crud-5a54f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:642290517608:ios:bb4c2a5a8839a228245ddd</string>
</dict>
</plist>